/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/*                              PARAMETRI CSS DELLA FINESTRA PRINCIPALE                                   */
/*                                    MAIN WINDOW CSS PARAMETERS                                          */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */

/* PARAMETRI DELLE ICONE DELLE FUNZIONI */
/* FUNCTION'S ICONS PARAMETERS */
.Icons {

    /* PARAMETRI DIMENSIONALI DELLE ICONE DELLE FUNZIONI */
    /* SIZE PARAMETERS OF THE FUNCTION'S ICONS */
    min-width: 150px;
    min-height: 150px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 30px;
    padding-right: 30px;

}



/* PARAMETRI DEI BOX DELLE FUNZIONI */
/* FUNCTION'S BOX PARAMETERS */
.Box {

    /* COLORE DI SFONDO E ROTONDITÀ DEI BORDI DEL BOX */
    /* BOX BACKGROUND COLOR AND BORDER RADIUS */
    background-color: rgb(48, 48, 48);
    border-radius: 15px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 50px;

    /* PARAMETRI DI TRANSIZIONE */
    /* TRANSITION PARAMETERS */
    transition: 0.3s;

}

/* PARAMETRI DEI BOX DELLE FUNZIONI AL PASSAGGIO DEL MOUSE */
/* FUNCTION'S BOX PARAMETERS ON MOUSE INTERACTION */
.Box:hover {

    /* COLORE DI SFONDO DEL BOX */
    /* BOX BACKGROUND COLOR; */
    background-color: rgb(55, 55, 55);

}



/* PARAMETRI DEI TESTI DI ANTEPRIMA DELLE FUNZIONI */
/* FUNCTION'S PREVIEW TEXT PARAMETERS */
.Text-Preview {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-top: 20px;
    padding-bottom: 20px;

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-weight: bold;
    font-size: 14pt;

}



/* PARAMETRI DEI BOTTONI SUPERIORI */
/* UPPER BUTTONS PARAMETERS */
.Upper-Button {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
}



/* PARAMETRI DEI BOTTONI INFERIORI */
/* LOWER BUTTONS PARAMETERS */
.Lower-Button {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;

}





/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/*                                PARAMETRI CSS DELLE FINESTRE DI INFO                                    */
/*                                     INFO WINDOWS CSS PARAMETERS                                        */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */

/* PARAMETRI DEI TESTI DI INFO */
/* INFO TEXT PARAMETERS */
.Info-Text {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 40px;

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 13pt;

}



/* PARAMETRI DELLE GRIGLIE PRINCIPALI DELLE FINESTRE DI INFO */
/* NFO WINDOWS MAIN GRID PARAMETERS */
.Info-Grid {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 40px;

}



/* PARAMETRI DEI BOX BOTTONI DELLE FINESTRE DI INFO */
/* INFO WINDOWS BUTTON BOXS PARAMETERS */
.Info-Button-Box {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin: 15px;
}



/* PARAMETRI DEI BOTTONI DI USCITA DALLE FINESTRE DI INFO */
/* INFO WINDOWS EXIT BUTTONS PARAMETERS */
.Exit-Button {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 20px;
    padding-right: 20px;
    margin:5px;

}






/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/*                                PARAMETRI CSS DELLA FINESTRA FUNZIONE 1                                 */
/*                                    FUNCTION 1 WINDOW CSS PARAMETERS                                    */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */

/* PARAMETRI DELLA GRIGLIA */
/* GRID PARAMETERS */
.Function-1-Grid {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 40px;

}



/* PARAMETRI DELL'ICONA  */
/* ICONS PARAMETERS */
.Function-1-Icon {

    /* PARAMETRI DIMENSIONALI DELLE ICONE DELLE FUNZIONI */
    /* SIZE PARAMETERS OF THE FUNCTION'S ICONS */
    min-width: 120px;
    min-height: 120px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 30px;
    padding-right: 30px;

}



/* PARAMETRI DEL TITOLO TESTUALI */
/* TITLE TEXT PARAMETERS */
.Function-1-Title-Text {

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 17pt;
    font-weight: bold;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin-top: 20px;
    margin-bottom: 10px;

}



/* PARAMETRI DEI CONTENITORI SCORREVOLI */
/* SCROLLABLE CONTAINERS PARAMETERS*/
.Function-1-Sub-Title-Scrollable {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;
    margin-bottom: 20px;

}



/* PARAMETRI DEL SOTTOTITOLO TESTUALI */
/* SUBTITLE TEXT PARAMETERS */
.Function-1-Sub-Title-Text {

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 13pt;
    font-weight: normal;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 5px;


}



/* PARAMETRI DEI CONTENITORI SCORREVOLI */
/* SCROLLABLE CONTAINERS PARAMETERS*/
.Function-1-Log-Scrollable {

    /* PARAMETRI DIMENSIONALI  */
    /* SIZE PARAMETERS  */
    min-width: 750px;
    min-height: 500px;

    /* COLORE DI SFONDO E ROTONDITÀ DEI BORDI  */
    /* BACKGROUND COLOR AND BORDER RADIUS */
    background-color: rgb(20, 20, 20);
    border-radius: 15px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 30px;
    margin: 10px;

}



/* PARAMETRI DEI CONTENITORI SCORREVOLI */
/* SCROLLABLE CONTAINERS PARAMETERS*/
.Function-1-Log-Text-Viewer {

    /* COLORE DI SFONDO DEL CAMPO DI TESTO */
    /* BOX BACKGROUND COLOR OF THE TEXTVIEW */
    background-color: rgb(20, 20, 20);


}



/* PARAMETRI DEI BOX BOTTONI DELLA FINESTRA DI FUNZIONE 1*/
/* FUNCTION 1 WINDOWS BUTTON BOXS PARAMETERS */
.Function-1-Button-Box {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin-top: 10px;
}



/* PARAMETRI DEI BOTTONI CHE MOSTRANO I LOG */
/* SHOW LOG BUTTONS PARAMETERS */
.Function-1-Log-Button {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px;

}



/* PARAMETRI DEI BOTTONI DI USCITA DALLE FINESTRE DI INFO */
/* INFO WINDOWS EXIT BUTTONS PARAMETERS */
.Function-1-Exit-Button {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px;

}



/* PARAMETRI DEL TESTO MOSTRATO IN ATTESA DEL CARICAMENTO */
/* LOADING WAITING TEXT PARAMTERS */
.Function-1-Waiting-Text {

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 13pt;
    font-weight: normal;

     /* PARAMETRI DIMENSIONALI  */
    /* SIZE PARAMETERS  */
    min-width: 200px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;

}



/* PARAMETRI DELLA ROTELLINA DI CARICAMENTO*/
/* LOADING WHEEL PARAMETERS*/
.Function-1-Spinner {

    /* PARAMETRI DIMENSIONALI DELLE ICONE DELLE FUNZIONI */
    /* SIZE PARAMETERS OF THE FUNCTION'S ICONS */
    min-width: 80px;
    min-height: 80px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 60px;

}






/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/*                                PARAMETRI CSS DELLA FINESTRA FUNZIONE 2                                 */
/*                                    FUNCTION 2 WINDOW CSS PARAMETERS                                    */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */

/* PARAMETRI DEI TITOLI TESTUALI DELLA FINESTRA FUNZIONE 2*/
/* FUNCTION 2 WINDOWS TITLE TEXTS PARAMETERS */

.Function-2-Title-Text {

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 17pt;
    font-weight: bold;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin-top: 20px;
    margin-bottom: 10px;

}


/* PARAMETRI DEL TESTO MOSTRATO IN ATTESA DEL CARICAMENTO */
/* LOADING WAITING TEXT PARAMTERS */
.Function-2-Waiting-Text {

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 13pt;
    font-weight: normal;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;

}



/* PARAMETRI DELLE ICONE DELLE FUNZIONI */
/* FUNCTION'S ICONS PARAMETERS */
.Function-2-Icon {

    /* PARAMETRI DIMENSIONALI DELLE ICONE DELLE FUNZIONI */
    /* SIZE PARAMETERS OF THE FUNCTION'S ICONS */
    min-width: 120px;
    min-height: 120px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 30px;
    padding-right: 30px;

}



/* PARAMETRI DELLE GRIGLIE DELLA FINESTRA FUNZIONE 2 */
/* FUNCTION 2 WINDOWS GRIDS PARAMETERS */
.Function-2-Grid {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 60px;

}



/* PARAMETRI DEI BOX BOTTONI DELLA FINESTRA DI FUNZIONE 2 */
/* FUNCTION 2 WINDOWS BUTTON BOXS PARAMETERS */
.Function-2-Button-Box {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin: 15px;
}



/* PARAMETRI DEL CONTENITORE DEL BOTTONE DI APERTURA FILE */
/* FILE OPEN BUTTON CONTAINER PARAMETERS */
.Function-2-File-Button-Container {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding:7px;

}



/* PARAMETRI DEL CONTENITORE DEL BOTTONE DI AVVIO DELLA FUNZIONE */
/* FUNCTION START BUTTON CONTAINER PARAMETERS */
.Function-2-Start-Button-Container {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding:7px;

}



/* PARAMETRI DELL'ETICHETTA DI TESTO DEL BOTTONE DI APERTURA FILE */
/* FILE OPEN BUTTON TEXT LABEL PARAMETERS*/
.Function-2-File-Button-Label {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-right: 7px;
    margin-left: 7px;

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 12pt;
    font-weight: normal;

}



/* PARAMETRI DELL'ICONA DEL BOTTONE DI APERTURA FILE */
/* FILE OPEN BUTTON ICON PARAMETERS */
.Function-2-File-Button-Icon {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding:7px;
    

}



/* PARAMETRI DELL'ICONA DEL BOTTONE AVVIO DELLA FUNZIONE 2 */
/* FUNCTION 2 START BUTTON ICON PARAMETERS */
.Function-2-Start-Button-Icon {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding:5px;
    

}



/* PARAMETRI DELL'ETICHETTA DI TESTO DEL BOTTONE DI APERTURA FILE */
/* FILE OPEN BUTTON TEXT LABEL PARAMETERS*/
.Function-2-Start-Button-Label {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-right:7px;
    margin-left: 5px;

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 12pt;
    font-weight: normal;

}



/* PARAMETRI DEL VISUALIZZATORE DEL PERCORSO DEL FILE */
/* FILE PATH VISUALIZER PARAMETERS */
.Function-2-File-Path-Visualizer {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

}



/* PARAMETRI DELLA ROTELLINA DI CARICAMENTO*/
/* LOADING WHEEL PARAMETERS*/
.Function-2-Spinner {

    /* PARAMETRI DIMENSIONALI DELLE ICONE DELLE FUNZIONI */
    /* SIZE PARAMETERS OF THE FUNCTION'S ICONS */
    min-width: 60px;
    min-height: 60px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 60px;

}




/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/*                                PARAMETRI CSS DELLA FINESTRA FUNZIONE 3                                 */
/*                                    FUNCTION 3 WINDOW CSS PARAMETERS                                    */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */

/* PARAMETRI DELLA GRIGLIA */
/* GRID PARAMETERS */
.Function-3-Grid {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 40px;

}



/* PARAMETRI DELL'ICONA  */
/* ICONS PARAMETERS */
.Function-3-Icon {

    /* PARAMETRI DIMENSIONALI DELLE ICONE DELLE FUNZIONI */
    /* SIZE PARAMETERS OF THE FUNCTION'S ICONS */
    min-width: 120px;
    min-height: 120px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 30px;
    padding-right: 30px;

}



/* PARAMETRI DEL TITOLO TESTUALI */
/* TITLE TEXT PARAMETERS */
.Function-3-Title-Text {

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 17pt;
    font-weight: bold;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin-top: 20px;
    margin-bottom: 10px;

}



/* PARAMETRI DEI CONTENITORI SCORREVOLI */
/* SCROLLABLE CONTAINERS PARAMETERS*/
.Function-3-Sub-Title-Scrollable {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;
    margin-bottom: 20px;

}



/* PARAMETRI DEL SOTTOTITOLO TESTUALI */
/* SUBTITLE TEXT PARAMETERS */
.Function-3-Sub-Title-Text {

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 13pt;
    font-weight: normal;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 5px;


}



/* PARAMETRI DEI CONTENITORI SCORREVOLI */
/* SCROLLABLE CONTAINERS PARAMETERS*/
.Function-3-Log-Scrollable {

    /* PARAMETRI DIMENSIONALI  */
    /* SIZE PARAMETERS  */
    min-width: 750px;
    min-height: 500px;

    /* COLORE DI SFONDO E ROTONDITÀ DEI BORDI  */
    /* BACKGROUND COLOR AND BORDER RADIUS */
    background-color: rgb(20, 20, 20);
    border-radius: 15px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 30px;
    margin: 10px;

}



/* PARAMETRI DEI CONTENITORI SCORREVOLI */
/* SCROLLABLE CONTAINERS PARAMETERS*/
.Function-3-Log-Text-Viewer {

    /* COLORE DI SFONDO DEL CAMPO DI TESTO */
    /* BOX BACKGROUND COLOR OF THE TEXTVIEW */
    background-color: rgb(20, 20, 20);


}



/* PARAMETRI DEI BOX BOTTONI DELLA FINESTRA DI FUNZIONE 3*/
/* FUNCTION 3 WINDOWS BUTTON BOXS PARAMETERS */
.Function-3-Button-Box {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin-top: 10px;
}



/* PARAMETRI DEI BOTTONI CHE MOSTRANO I LOG */
/* SHOW LOG BUTTONS PARAMETERS */
.Function-3-Log-Button {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px;

}



/* PARAMETRI DEI BOTTONI DI USCITA DALLE FINESTRE DI INFO */
/* INFO WINDOWS EXIT BUTTONS PARAMETERS */
.Function-3-Exit-Button {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px;

}



/* PARAMETRI DEL TESTO MOSTRATO IN ATTESA DEL CARICAMENTO */
/* LOADING WAITING TEXT PARAMTERS */
.Function-3-Waiting-Text {

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 13pt;
    font-weight: normal;

     /* PARAMETRI DIMENSIONALI  */
    /* SIZE PARAMETERS  */
    min-width: 200px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;

}



/* PARAMETRI DELLA ROTELLINA DI CARICAMENTO*/
/* LOADING WHEEL PARAMETERS*/
.Function-3-Spinner {

    /* PARAMETRI DIMENSIONALI DELLE ICONE DELLE FUNZIONI */
    /* SIZE PARAMETERS OF THE FUNCTION'S ICONS */
    min-width: 80px;
    min-height: 80px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 60px;

}






/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/*                                PARAMETRI CSS DELLA FINESTRA DI ERRORE                                  */
/*                                      ERROR WINDOW CSS PARAMETERS                                       */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */

/* PARAMETRI DELLE ICONA DELLE FINESTRE DI ERRORE */
/* ERROR WINDOW ICON PARAMETERS */
.Error-Icon {

    /* PARAMETRI DIMENSIONALI DELLE ICONE DELLE FUNZIONI */
    /* SIZE PARAMETERS OF THE FUNCTION'S ICONS */
    min-width: 80px;
    min-height: 80px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;

}



/* PARAMETRI DELLA GRIGLIA DELLE FINESTRE DI ERRORE */
/* ERROR WINDOW GRID PARAMETERS */
.Error-Grid {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 25px;

}



/* PARAMETRI DEI TESTI DI ERRORE */
/* ERROR TEXT PARAMETERS */
.Error-Text {


    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 10px;

    /* PARAMETRI DEL TESTO */
    /* TEXT PARAMETERS */
    font-size: 12pt;

}



/* PARAMETRI DEI BOX BOTTONI DELLE FINESTRE DI ERRORE */
/* ERROR WINDOWS BUTTON BOXS PARAMETERS */
.Error-Button-Box {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    margin-top: 10px;

}



/* PARAMETRI DEI CONTENITORI SCORREVOLI DEI LOG DI ERRORE*/
/* ERROR LOG SCROLLABLE CONTAINERS PARAMETERS*/
.Error-Log-Viewer {

    /* COLORE DI SFONDO DEL CAMPO DI TESTO */
    /* BOX BACKGROUND COLOR OF THE TEXTVIEW */
    background-color: rgb(20, 20, 20);


}



/* PARAMETRI DEI CONTENITORI SCORREVOLI DEI LOG DELLA FINESTRA DI ERRORE*/
/* ERROR WINDOW LOG SCROLLABLE CONTAINERS PARAMETERS*/
.Error-Log-Scrollable {

    /* COLORE DI SFONDO E ROTONDITÀ DEI BORDI DEL BOX */
    /* BOX BACKGROUND COLOR AND BORDER RADIUS */
    background-color: rgb(20, 20, 20);
    border-radius: 15px;

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding: 30px;

}



/* PARAMETRI DEI BOTTONI CHE MOSTRANO I LOG */
/* SHOW LOG BUTTONS PARAMETERS */
.Error-Log-Button {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 20px;
    padding-right: 20px;
    margin:5px;

}



/* PARAMETRI DEI BOTTONI DI USCITA DALLE FINESTRE DI INFO */
/* INFO WINDOWS EXIT BUTTONS PARAMETERS */
.Error-Exit-Button {

    /* PARAMETRI DI SPAZIATURA */
    /* SPACING PARAMETERS */
    padding-left: 20px;
    padding-right: 20px;
    margin:5px;

}









































