<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<!--  --> 
<!--  --> 
<policyconfig>

    <!--  --> 
    <!--  --> 
    <action id="davinci-helper">

        <!--  --> 
        <!--  --> 
        <description>Please allow Davinci Helper to run with administrative privileges, it is required to install the dependencies and the drivers </description>

        <!--  --> 
        <!--  --> 
        <message>Authentication is required to run Davinci Helper</message>
        <message xml:lang="it">È necessario accedere come root per eseguire tutte le funzioni</message>
        

        <!--  --> 
        <!--  --> 
        <defaults>

            <!--  --> 
            <!--  --> 
            <allow_any>auth_admin</allow_any>

            <!--  --> 
            <!--  --> 
            <allow_inactive>auth_admin</allow_inactive>

            <!--  --> 
            <!--  --> 
            <allow_active>auth_admin</allow_active>
            
        <!--  --> 
        <!--  --> 
        </defaults>

        <!--  --> 
        <!--  --> 
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/davinci-helper</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>


    <!--  --> 
    <!--  --> 
    </action>

<!--  --> 
<!--  --> 
</policyconfig>

