<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<!--  --> 
<!--  --> 
<policyconfig>

    <!--  --> 
    <!--  --> 
    <action id="davinci-helper-root">

        <!--  --> 
        <!--  --> 
        <description>Please allow Davinci Helper to run with administrative privileges, it is required to install the dependencies and the drivers </description>

        <!--  --> 
        <!--  --> 
        <message>Admin authentication is required to use this function</message>
        <message xml:lang="it">È necessario autenticarsi come admin per eseguire questa funzione</message>
        

        <!--  --> 
        <!--  --> 
        <defaults>

            <!--  --> 
            <!--  --> 
            <allow_any>no</allow_any>

            <!--  --> 
            <!--  --> 
            <allow_inactive>no</allow_inactive>

            <!--  --> 
            <!--  --> 
            <allow_active>auth_admin</allow_active>
            
        <!--  --> 
        <!--  --> 
        </defaults>

        <!--  --> 
        <!--  --> 
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/python</annotate>
        <annotate key="org.freedesktop.policykit.exec.path">args</annotate>
        <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>


    <!--  --> 
    <!--  --> 
    </action>

<!--  --> 
<!--  --> 
</policyconfig>

