/* AGGIUNTA DELLA REGOLA A POLKIT PER ESEGUIRE COME ROOT SOLO LE FUNZIONI STRETTAMENTE NECESSARIE.
LE CONDIZIONI NECESSARIE SONO CHE L'UTENTE FORNICA I PERMESSI DI ADMIN E CHE LA RICHIESTA VENGA DAL PROGRAMMA DAVINCI HELPER */

/* ADDING THE POLKIT RULE TO HANDLE ONLY THE FUNCTIONS THAT NEED THE ROOT ACCESS.
THE NECESSARY CONDITIONS TO GRANT PERMISSION ARE THAT THE USER MUST BE AND ADMIN AND THAT TE CALL IS FROM DAVINCI HELPER*/
polkit.addRule(function(action, subject) {

    /* CONDIZIONE DI VERIFICA CHE SI STA UTILIZZANDO LA POLICY ACTION CORRETTA, SE LA RICHIESTA D'USO DELLE REGOLE È DELLA SESSIONE E SE IL PROCESSO ESISTE NELLA SESSIONE */
    /* THIS CONDITION CHECK IF THE POLKIT IS USING THE CORRECT POLICY, IF THE RULES IS FROM A LOCAL SUBJECT AND IF THIS SUBJECT HAS A PROCESS ASSOCIATED */
    if (action.id == "com.prova.setup.app" && subject.local && subject.local.process) {

        /* ACQUISISCO IL NOME DEL PROCESSO CHE HA RICHIESTO L'USO DELLE REGOLE */
        /* ACQUIRING THE NAME OF THE PROCESS THAT HAS MADE THE RULES REQUEST */
        var exec = subject.local.process.exec;

        /* CHECKING IF THE PROCESS IS FROM DAVINCI HELPER*/
        /* CONTROLLO SE IL PROCESSO PROVIENE DA DAVINCI HELPER */
        if (exec == "/usr/bin/davinci-helper") {

            /* AUTORIZZO L'UTENTE AD INSERIRE LA PASSWORD PER CONTINUARE E TENGO APERTA LA SESSIONE PER 5 MINUTI */
            /* AUTHORIZE THE USER TO ENTER THE PASSWORD TO CONTINUE AND KEEP THE SESSION OPEN FOR 5 MINUTES */
            return polkit.Result.AUTH_SELF_KEEP;
        }
    }
}
);
