<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<!-- INIZIO DELLE IMPOSTAZIONI DELLA POLICY --> 
<!-- START OF THE POLICY SETTINGS --> 
<policyconfig>

    <!-- INIZIO DELL'AZIONE DI DAVINCI HELPER --> 
    <!-- START OF DAVINCI HELPER ACTION --> 
    <action id="com.davinci.toolbox.app">

        <!-- DESCRIZIONE DEL PERCHÈ VENGONO RICHIESTI I PERMESSI --> 
        <!-- DESCRIPTION OF WHY ARE BEEN ASKED ADMIN PERMISSION --> 
        <description>Please allow Davinci Toolbox to run with administrative privileges, it is required to install the dependencies and the drivers </description>

        <!-- MESSAGGIO DI RICHIESTA DEI PERMESSI ALL'UTENTE --> 
        <!-- USER PERMISSION REQUEST MESSAGE --> 
        <message>Admin authentication is required to use this function</message>
        <message xml:lang="it">È necessario autenticarsi come admin per eseguire questa funzione</message>
        
        <!-- INIZIO IMPOSTAZIONI DI SICUREZZA --> 
        <!-- SECURITY SETTINGS START --> 
        <defaults>

            <!-- ACCESSO ALLA FUNZIONE DA TUTTI GLI UTENTI --> 
            <!-- FUNCTION ACCESS FROM ALL USERS --> 
            <allow_any>no</allow_any>

            <!-- ACESSO ALLA FUNZIONE DAGLI UTENTI INATTVI --> 
            <!-- FUNCTION ACCESS FROM INACTIVE A USERS --> 
            <allow_inactive>no</allow_inactive>

            <!-- ACCESSO ALLA FUNZIONE DAGLI UTENTI ATTIVI --> 
            <!-- FUNCTION ACCESS FROM ACTIVE A USERS --> 
            <allow_active>auth_admin_keep</allow_active>
            
        <!-- FINE DELLE IMPOSTAZIONI DI SICUREZZA --> 
        <!-- SECURITY SETTINGS END --> 
        </defaults>

        <!-- FUNZIONI PER CUI SI È RICHIESTA L'AUTORIZZAZIONE  --> 
        <!-- FUNCTIONS FOR WHERE AUTHORIZATION IS REQUESTED --> 
        <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/python</annotate>
        <annotate key="org.freedesktop.policykit.exec.args">/usr/lib/python*/site-packages/davinci_toolbox/functions/function_1.py</annotate>
        <annotate key="org.freedesktop.policykit.exec.args">/usr/lib/python*/site-packages/davinci_toolbox/functions/function_3.py</annotate>
        <annotate key="org.freedesktop.policykit.exec.args">/usr/lib/python*/site-packages/davinci_toolbox/functions/function_4.py</annotate>

    <!-- FINE DELL'AZIONE DI DAVINCI HELPER --> 
    <!-- END OF DAVINCI HELPER ACTION --> 
    </action>

<!-- FINE DELLE IMPOSTAZIONI DELLA POLICY --> 
<!-- END OF THE POLICY SETTINGS --> 
</policyconfig>

