[Desktop Entry]
Type=Application
Version=1.0
Name=DaVinci Toolbox
Exec=davinci-toolbox
Icon=davinci-toolbox-icon.svg
Terminal=false
Type=Application
Categories=Utility;Settings;
Keywords=Video;Editing;Davinci;Resolve
