[Desktop Entry]
Type=Application
Version=2.3.1
Name=DaVinci Helper
Exec=davinci-helper
Icon=davinci_helper_icon.svg
Terminal=false
Type=Application
Categories=Utility;Settings;
Keywords=Video;Editing;DaVinci;Resolve
