[Desktop Entry]
Type=Application
Version=2.4.0
Name=DaVinci Helper
Exec=davinci-helper
Icon=com.davinci.helper.app.svg
Terminal=false
Type=Application
Categories=Utility;Settings;
Keywords=Video;Editing;DaVinci;Resolve
